[tool.black]
line-length = 88
target-version = ["py312"]
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.venv
  | build
  | dist
  | staticfiles
)/
'''

[tool.isort]
profile = "black"
line_length = 88
multi_line_output = 3
skip = ["staticfiles", ".venv"]

[tool.coverage.run]
omit = [
    "*/migrations/*",
    "*/tests/*",
    "manage.py",
]
branch = true
