<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles.css">
        <title>SMART PARK COOPERATIONS</title>
    </head>
    <body>
        <header>
            <div class="container">
                <nav>
                    <div class="brand">SMART PARK</div>
                    <div class="navlinks">
                        <a href="client.html" class="">Client</a>
                        <a href="parking.html" class="">Parking</a>
                        <a href="parkinglot.html" class="">Parking Lot</a>
                        <a href="parkingspace.html" class="">Parking Space</a>
                        <a href="reservation.html" class="">Reservation</a>
                        <a href="login.html" class="">Login</a>
                    </div>
                </nav>
            </div>
        </header>
        <main>
            <div class="container">
                <h1>Parking</h1>
                <form>
                    <label for="parkingID">Parking ID</label>
                    <input id="parkingID" name="parkingID" placeholder="Enter parking ID" required>
                    <label for="timeIn">Time in</label>
                    <input id="timeIn" name="timeIn" placeholder="Enter time in" required>
                    <label for="timeOut">Time out</label>
                    <input id="timeOut" name="timeOut" placeholder="Enter time out" required>
                    <label for="status">Status</label>
                    <input id="status" name="status" placeholder="Enter status" required>
                    <a href="cover.html" class="btn">Click to Menu</a>
                </form>
            </div>
            <div class="table">
                <table>
                    <tr>
                        <th>Parking ID</th>
                        <th>Time In</th>
                        <th>Time Out</th>
                        <th>Status</th>
                    </tr>
                    <tr>
                        <td>001</td>
                        <td>08:00 AM</td>
                        <td>10:00 AM</td>
                        <td>Occupied</td>
                    </tr>
                    <tr>
                        <td>002</td>
                        <td>09:00 AM</td>
                        <td>11:00 AM</td>
                        <td>Available</td>
                    </tr>
                    <tr>
                        <td>003</td>
                        <td>10:00 AM</td>
                        <td>12:00 PM</td>
                        <td>Occupied</td>
                    </tr>
                </table>
            </div>
            
        </main>
        <footer>
            <div class="container">© 2025 SMARTPARK COOPERATIONS. All rights reserved.</div>
        </footer>
    </body>
</html>